* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.box {
  display: flex;
  justify-content: center;
}
.box main {
  padding: 26px;
  border-radius: 6px;
  background: #3498DB;
  text-align: center;
}
h1 {
  font-size: 30px;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
.info button {
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.board .board-row .square {
  margin: 3px;
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}
.ref {
  text-align: center;
}
