@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.box main {
  padding: 26px;
  border-radius: 6px;
  background: #3498DB;
  text-align: center;
}
h1 {
  font-size: 30px;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
.info button {
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.board .board-row .square {
  margin: 3px;
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: middle;
  font-size: 18px;
}
.board .board-row .square.plain {
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #0984E3;
}
.board .board-row .square.flag {
  background: #F1C40F;
}
.board .board-row .square.question {
  background: #44D580;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.ref {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
