@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.box{
    display: flex;
    justify-content: center;   
    margin-top: 50px;
    main{
        padding: 26px;
        border-radius: 6px;
        background: #3498DB;
        text-align: center;
    }
}
h1{
    font-size: 30px;
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px;
    font-size: 18px;
    letter-spacing: 1px;
    button{
        font-size: 18px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

}
.board{
    .board-row{
        .square{   
            margin: 3px;
            width: 42px;
            height: 42px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: rgba(255, 255, 255, .5);
            vertical-align: middle;
            font-size: 18px;
            &.plain{
                background: #fff;
                font-weight: 600;
                font-size: 20px;
                color: #0984E3;
            }
            &.flag{
                background: #F1C40F;
            }
            &.question{
                background: #44D580;
                font-weight: 600;
                font-size: 20px;
                color: #fff;;
            }
        }
    }
    
}
.ref{
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
}
.set-box{
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translate(-50%,0);
    height: 340px;
    width: 300px;
    padding: 26px;
    border-radius: 6px;
    background: #3498DB;
    h3{
        padding-bottom: 5px;
        font-size: 22px;
        text-align: center;
        border-bottom: 1px solid #206592;
    }
    .set-bd{
        margin-top: 20px;
        label{
            display: block;
            margin: 10px 0 0;
        }
        input[type=range]{
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            margin-top: 5px;
            &::-webkit-slider-runnable-track{
                height: 22px;
                background: #87CEEB;
            }
            &::-moz-range-track{
                height: 22px;
                background: #87CEEB;
            }
            &::-webkit-slider-thumb{
                -webkit-appearance: none;
                width: 22px;
                height: 22px;
                background: #696969;
                border-radius: 0%;
            }
            &::-moz-range-thumb{
                -webkit-appearance: none;
                width: 22px;
                height: 22px;
                background: #696969;
                border-radius: 0%;
            }
        }
        button{
            display: block;
            height: 30px;
            width: 100%;
            margin-top: 24px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: #206592;
            color: #fff;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
    
}
